*{
    margin: 0px;
    padding: 0px;
}

#pixel-container {
    width: 700px;
    height: 600px;
    background-color: #ffffff;
    border: 1px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    
}

.pixel-row
{
    width: 100%;
}

.pixel {
    width:100px;
    height: 100px;
}
.pixel:hover{
    opacity: 50%;
}


.pixel-selection {
    width: 100px;
    height: 100px;
    box-shadow: inset 0px 0px 0px 5px rgb(88, 88, 88);
    
}