*{
    margin: 0px;
    padding: 0px;
}

#pixel-container {
    width: 60vw;
    height: 60vh;
    background-color: #dae0e6;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}

.pixel-row
{
    width: 100%;
}

.pixel {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}