
* {
    margin: 0px;
    padding: 0px;
}

#GuestContainer {
    margin: 0 auto;
    background-color: #ffffff;
    width: 105px;
    height: 50px;
    margin-top: 15px;
    
    justify-content: center;
    align-items: center;
}
#colorinput{
    float:left;
    width: 50px;
} 
#submitChange {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    font-size: x-large;
    
    float: right;
}

#registerformShown {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: #dae0e6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#registerformHidden {
    display: none;
}

#loginformShown {
    display: flex;
    width: 300px;
    height: 150px;
    background-color: #dae0e6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#buttons{
    margin-left: 45%;
    margin-right: auto;
}
button {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(95, 255, 135);
    
}
button:hover{
    background-color: rgb(46, 250, 63);
}
button:active{
    background-color:green;
}
#loginformHidden {
    display: none;
}

.hide {
    display: none;
}

#TimerContainer {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#TimerLabel{
    float:left;
}
input[type="color"] {
    width: 100px;
    height: 50px;
    margin-right: -10px;
    margin-bottom: 10px;
}

